<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/center.css">
</head>
<body>
    <div class="center" style="width: 500px; margin-top: 100px;" ng-controller="loginController">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="id" type="text" class="form-control" ng-model="id" name="id" placeholder="ID (8 글자 까지)" maxlength="8">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" type="password" class="form-control" ng-model="password" name="password" placeholder="PASSWORD">
        </div>

        <div style="margin-top: 50px;">
            <button type="button" class="btn btn-primary" ng-click="login()">Login</button>
        </div>
    </div>
</body>
</html>